<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold mb-4"><%= @wine.name %></h1>
  <% @sorted_reviews.each do |review| %>
    <div class="bg-gray-100 p-4 mb-4">
      <p class="text-lg font-medium">Note : <%= review.rating %> by <%= review.expert.name %></p>
      <p class="text-base"><%= review.message %></p>
    </div>
  <% end %>
  <% if expert_signed_in? %>
    <a href="<%= wine_show_review_path(@wine) %>" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Review this wine
    </a>
  <% end %>
</div>