<!DOCTYPE html>
<html lang="en">
<head>
  <title>TestTechniqueIlek</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://cdn.tailwindcss.com"></script>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_pack_tag 'application' %>

</head>

<body>
<header class="bg-black text-white w-full">
  <nav class="flex justify-between items-center w-[92%]  mx-auto">
    <a href="/" class="flex justify-between items-center bg-white text-black rounded-full m-2 hover:bg-red-800 hover:text-white transition">
      <img
        class="p-2 w-16 mr-1"
        src="https://res.cloudinary.com/dttd773dq/image/upload/v1697274692/ilek-assets/images/wine-bottle_uatwvb.png"
        alt="logo"
        />
      <i class="text-3xl font-bold mr-3">Wine search</i>
    </a>
    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
      <li><%= link_to 'Home', root_path, class: 'hover:text-gray-200' %></li>
      <% if user_signed_in? or expert_signed_in? %>
        <li><%= link_to 'My searches', searches_path, class: 'hover:text-gray-200' %></li>
      <% end %>
    </ul>
    <div class="ml-auto mr-3">
      <%= react_component("Notification") %>
    </div>
    <% if user_signed_in? %>
      <div class="mr-3 text-center">
        <h5 class="text-white"><%= current_user.email %></h5>
      </div>
      <div>
        <%= button_to 'Sign out', destroy_user_session_path, class: 'bg-white text-black px-5 py-2 rounded-full hover:opacity-75', method: :delete %>
      </div>
    <% elsif expert_signed_in? %>
      <div class="mr-3 text-center">
        <h5 class="text-white"><%= current_expert.email %> - expert</h5>
      </div>
      <div>
        <%= button_to 'Sign out', destroy_expert_session_path, class: 'bg-white text-black px-5 py-2 rounded-full hover:opacity-75', method: :delete %>
      </div>
    <% else %>
      <div class="flex items-center gap-6">
        <%= link_to 'Sign in', user_session_path, class: 'hover:text-gray-500' %>
        <%= link_to 'Register', new_user_registration_path, class: 'bg-[#a20848] hover:opacity-75 focus:opacity-75 text-white px-5 py-2 rounded-full', method: :get %>
        <%= link_to "I'm an expert", expert_session_path, class: 'bg-green-500 text-white px-5 py-2 rounded-full hover:bg-green-700', method: :get %>
      </div>
    <% end %>
  </nav>
</header>

<main>
  <%= yield %>
</main>
</body>
</html>
